* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #182123;
}

h1 {
    font-family: system-ui;
    text-align: center;
}

label {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 10px;

}

#api-key {
    display: block;
    padding: 10px 15px;
    margin: 5px auto;
    width: 42%;
    outline: none;
    border-radius: 7px;
}


p {
    text-align: center;
    font-size: 12px;
    color: white;
}

#save-button {
    display: block;
    margin: 5px auto;
    padding: 10px 15px;
    width: 18%;
    background: #58cc02;
    font-weight: bold;
    border-radius: 7px;
}

#save-button:hover {
    cursor: pointer;
    transition: background-color, box-shadow 0.4s ease;
    background-color: rgb(0, 209, 216);
    box-shadow: 0px 0px 5px 2px rgb(0, 209, 216);
}