body {
    height: auto;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(119, 248, 241, .05);
}

textarea {
    width: 291px;
    height: 221px;
    padding: 3px 5px;
}

#btn {
    display: block;
    margin: 5px auto;
    width: 100%;
    border-radius: 6px;
    padding: 7px;
    font-family: system-ui;
    font-weight: bold;
    outline: none;
    border: none;
}

#btn:hover {
    background: black;
    color: white;
    cursor: pointer;
}